# Server
Flask
Flask-Login
Flask-SocketIO == 4.3.2
Flask-SQLAlchemy
Flask-WTF == 0.14.3
Flask-HTTPAuth == 3.3.0
WTForms == 2.2.1
bson == 0.5.8
SQLAlchemy == 1.4.15

# Tools and utilities
Werkzeug
SQLAlchemy-utils
psycopg2-binary == 2.8.1

# Deployment
gevent
gevent-websocket
gunicorn == 19.9.0
tornado

# Bots
SocketIO-client == 0.7.2

# CRWIZ
PyMysql
pytest
numpy
PyYaml
